# 公開しないプラグイン
plugins/*
!Potagon*
plugins/Potagon_BlackMagic.js
plugins/Potagon_HtmlSupport.js
plugins/Potagon_Minecraft.js
plugins/Potagon_StartDeleteSaveData.js
plugins/Potagon_Story.js
plugins/Potagon_Test.js
plugins/Potagon_TestWindow.js
plugins/Potagon_テンプレート.js
